--find-links=https://girder.github.io/large_image_wheels
GDAL
streamlit
leafmap
streamlit-folium
segment-geospatial
opencv-python-headless
pystac-client
planetary-computer
odc-stac
rasterio
geopandas
shapely
